<div class="banner notHome">
    <app-navbar></app-navbar>
</div>
<div class="register-itin">
    <div class="container">
        <h1>Register Your Package!</h1>
        <div [ngClass]="messageClass">{{message}}</div>
        <div class="row">
            <section class="col-md-12 top-margin-1em bottom-margin-1em">
                <article class="booking-list card">
                    <div class="panel-heading clickable no-gutter" (click)="toggleDisplay('hotel')">
                        <div class="col-md-3">
                            <i class="fa fa-bed fa-2x" aria-hidden="true"></i>
                            <h5>Select Hotel</h5>
                        </div>
                        <div class="col-md-3">
                            <span class="text-gray">Place:</span>
                            <span><b>{{hotelLocation}}</b></span>
                        </div>
                        <div class="col-md-3">
                            <span class="text-gray">Check-in Date:</span>
                            <span><b id="checkinDate">{{hotelInDate}} 2018</b></span>
                        </div>
                        <div class="col-md-3">
                            <span class="text-gray">Checkout:</span>
                            <span><b>{{hotelOutDate}} 2018</b></span>
                        </div>
                    </div>
                    <div class="panel-body" [ngClass]="hideHotelBodyPanel ? 'hideMe' : ''" [ngClass]="hideHotelBodyPanel ? '' : 'hideMe'">
                        <div class="flex-row" *ngFor="let hotel of allHotels; let i = index;">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="assets/images/hotel.jpg" alt="{{hotel.hotelName}}" />
                                </div>
                                <div class="col-md-8">
                                    <h5 class="hotel-name">{{hotel.hotelName}}</h5>
                                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                        has been the industry's standard dummy text ever since the 1500s, when an unknown
                                        printer took a galley of type and scrambled it to make a type specimen book. It has
                                        survived not only five centuries, but also the leap into electronic typesetting,
                                        remaining essentially unchanged. It was popularised in the 1960s with the release
                                        of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                                        publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                    </p>
                                </div>
                            </div>
                            <div class="row top-margin-1em bottom-dashed-border">
                                <div class="col-md-12">
                                    <h5>Select Room</h5>
                                </div>
                            </div>
                            <div class="row top-margin-1em hotel-room-desc" *ngFor="let hotelClass of hotel.hotelClass; let j = index">
                                <div class="col-md-4 room-class">
                                    <img src="assets/images/hotel-room-ac-deluxe.jpg" alt="{{hotelClass.roomTypeName}}" />
                                </div>
                                <div class="col-md-4">
                                    <div class="row bottom-dashed-border">
                                        <strong>{{hotelClass.roomTypeName}}</strong>
                                    </div>
                                    <div class="row">
                                        <strong>{{hotelClass.roomBasePrice}} INR</strong>
                                        <span>per night</span>
                                        <a class="btn btn-info pull-right" href="javascript:void(0)" title="select room" (click)="showPickup(hotel, hotelClass.roomTypeName, hotelLocation)">Select Room</a>
                                    </div>
                                    <div class="row">
                                        <strong>Only {{hotelClass.availableCount}} room(s) available</strong>
                                    </div>
                                    <div class="row">
                                        <div><strong>Room amenities</strong></div>
                                        <Ul class="list-group row no-bottom-margin room-amenity">
                                            <li class="list-group-item" *ngFor="let amenity of hotelClass.amenities; let k = index">
                                                <span class="pull-left amenity-item">{{amenity.additionalItem}}</span>
                                                <span class="pull-right amenity-price">{{amenity.additionalPrice}}</span>
                                            </li>
                                        </Ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="booking-list card pickup-card" [ngClass]="isHotelSelected ? '' : 'hideMe'" *ngIf="pickUpTransports.length > 0">
                    <div class="panel-heading clickable no-gutter" (click)="toggleDisplay('pickup')">
                        <div class="col-md-4">
                            <i class="fa fa-cab fa-2x" aria-hidden="true"></i>
                            <h5>Pick-up Transport</h5>
                        </div>
                        <div class="col-md-3">
                            <span class="text-gray">Pick-up From:</span>
                            <span><b>{{pickUpFromLoc}}</b></span>
                        </div>
                        <div class="col-md-3">
                            <span class="text-gray">Pick-up Upto:</span>
                            <span><b>{{pickUpToLoc}}</b></span>
                        </div>
                        <div class="col-md-3">
                            <span class="text-gray">Date:</span>
                            <span><b id="pickupDate">{{pickUpDate}} 2018</b></span>
                        </div>
                    </div>
                    <div class="panel-body" [ngClass]="hidePickupBodyPanel ? 'hideMe' : ''">
                        <div class="flex-row bottom-dashed-border" *ngFor="let transport of pickUpTransports; let i = index">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="assets/images/{{transport.vehicalName}}.jpg" alt="car" />
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <h5 class="trasnpsort-name">{{transport.transportName}}</h5>
                                        <p class="cab-desc">
                                            <strong>Vehicle: {{transport.vehicalName}}</strong>
                                            <a class="btn btn-info pull-right" href="javascript:void(0)" title="select pickup" (click)="showDrop(transport)">Select</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="booking-list card drop-card" [ngClass]="isPickupSelected ? '' : 'hideMe'" *ngIf="dropTransports.length > 0">
                    <div class="panel-heading clickable no-gutter" (click)="toggleDisplay('drop')">
                        <div class="col-md-4">
                            <i class="fa fa-cab fa-2x" aria-hidden="true"></i>
                            <h5>Drop Transport</h5>
                        </div>
                        <div class="col-md-4">
                            <span class="text-gray">Drop From:</span>
                            <span><b>{{dropFromLoc}}</b></span>
                        </div>
                        <div class="col-md-4">
                            <span class="text-gray">Drop To:</span>
                            <span><b>{{dropToLoc}}</b></span>
                        </div>
                        <div class="col-md-4">
                            <span class="text-gray">Date:</span>
                            <span><b id="dropDate">{{dropDate}} 2018</b></span>
                        </div>
                    </div>
                    <div class="panel-body" [ngClass]="hideDropBodyPanel ? 'hideMe' : ''" [ngClass]="hideDropBodyPanel ? '' : 'hideMe'">
                        <div class="flex-row bottom-dashed-border" *ngFor="let transport of dropTransports; let i = index">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="assets/images/{{transport.vehicalName}}.jpg" alt="car" />
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <h5 class="trasnpsort-name">{{transport.transportName}}</h5>
                                        <p class="cab-desc">
                                            <strong>Vehicle: {{transport.vehicalName}}</strong>
                                            <a class="btn btn-info pull-right" href="javascript:void(0)" title="select drop" (click)="showGuide(transport)">Select</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="booking-list card guide-card" [ngClass]="isGuideSelected ? '' : 'hideMe'" *ngIf="allGuides.length > 0">
                    <div class="panel-heading clickable no-gutter" (click)="toggleDisplay('guide')">
                        <div class="col-md-8">
                            <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                            <h5>Guide</h5>
                        </div>
                        <div class="col-md-4">
                            <span class="text-gray">Guide Date:</span>
                            <span><b id="guideDate">{{guideDate}} 2018</b></span>
                        </div>
                    </div>
                    <div class="panel-body" [ngClass]="hideGuideBodyPanel ? 'hideMe' : ''">
                        <div class="flex-row bottom-dashed-border">
                            <div class="row">
                                <div class="col-md-4 room-class">
                                    <img src="assets/images/guide.jpg" alt="ac deluxe" />
                                </div>
                                <div class="col-md-4" *ngFor="let guide of allGuides; let i = index">
                                    <div class="row">
                                        <h5 class="guide-name">{{guide.guideDescription}} ({{guide.userName}})</h5>
                                    </div>
                                    <div class="row guide-desc">
                                        <span>Price per day</span>
                                        <strong>{{guide.perDayPrice}} INR</strong>
                                        <a class="btn btn-info pull-right" href="javascript:void(0)" title="select {{guide.guideDescription}}" (click)="addGuide(guide)">Hire</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
            <div class="row budgetContainer" [ngClass]="showBtnContainer ? '' : 'hideMe'">
                <div class="col-md-12">
                    <div class="col-md-12 budgetDiv">
                        <div class="form-group col-md-1">
                            <label for="budget">Budget</label>
                        </div>
                        <div class="form-group col-md-3">
                            <input type="number" name="price" class="form-control" required placeholder="" id="budget" ngModel>
                        </div>
                        <div class="form-group col-md-1">
                            <label for="description">Enter Description</label>
                        </div>
                        <div class="form-group col-md-5">
                            <textarea name="description" placeholder="" id="description" ngModel required></textarea>
                        </div>
                        <div class="form-group col-md-1">
                            <a href="javascript:void(0)" class="btn btn-info form-control" (click)="createPackage()">Submit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>