<div class="banner notHome">
	<app-navbar></app-navbar>
</div>

<div class="create-itinerary">
	<div class="container">
		<h1>Create Itinerary!</h1>
		<div class="login-form">
			<form #itinForm="ngForm" (ngSubmit)="getResourcesForPackage(itinForm.value)">
				<div class="styled-input">
					<select name="starttingCityId" class="form-control" required ngModel>
						<option value="">Origin</option>
						<option *ngFor="let city of cityList" value="{{city.cityId}}">{{city.cityName}}</option>
					</select>
					<label>Starting City</label>
					<span></span>
				</div>
				<div class="styled-input">
					<input type="date" name="startingDate" required placeholder="" id="fromDate" ngModel>
					<label for="fromDate">Starting Date</label>
					<span></span>
				</div>

				<div class="styled-input">
					<input type="time" name="startingTime" required placeholder="" id="startingTime" ngModel>
					<label for="startingTime">Starting Time</label>
					<span></span>
				</div>

				<div class="styled-input">
					<select name="travellingCityId" class="form-control" required ngModel>
						<option value="">Destination</option>
						<option *ngFor="let city of cityList" value="{{city.cityId}}">{{city.cityName}}</option>
					</select>
					<label>Starting City</label>
					<span></span>
				</div>
				<div class="styled-input">
					<select name="noOfNights" class="form-control" required ngModel>
						<option value="">No. of Nights</option>
						<option *ngFor="let number of [1,2,3,4,5,6,7,8,9,10]" value="{{number}}">{{number}}</option>
					</select>
					<label>No. of Nights</label>
					<span></span>
				</div>
				<div class="styled-input">
					<select name="noOfRooms" class="form-control" required ngModel>
						<option value="">No. of Rooms</option>
						<option *ngFor="let number of [1,2,3,4,5,6,7,8,9,10]" value="{{number}}">{{number}}</option>
					</select>
					<label>No. of Rooms</label>
					<span></span>
				</div>
				<div class="styled-input">
					<select name="noOfTravellers" class="form-control" required ngModel id="groupSize">
						<option value="">No. of Travellers</option>
						<option *ngFor="let number of [1,2,3,4,5,6,7,8,9,10]" value="{{number}}">{{number}}</option>
					</select>
					<label>No. of Travellers</label>
					<span></span>
				</div>

				<!--<div class="styled-input">
					<input type="date" name="expectedResponseWithinDate" required placeholder="" id="expectedResponseWithinDate" ngModel>
					<label for="expectedResponseWithinDate">Accept Quote Till Date</label>
					<span></span>
				</div>

				<div class="styled-input">
					<input type="time" name="expectedResponseWithinTime" required placeholder="" id="expectedResponseWithinTime" ngModel>
					<label for="expectedResponseWithinTime">Accept Quote Till Time</label>
					<span></span>
				</div>-->

				<div class="wthree-text">
					<div class="register-text">Request For</div>
					<div class="register-options">
						<ul>
							<li>
								<input type="checkbox" id="pickup" value="pickup" name="pickUpIncluded" ngModel>
								<label for="pickup"><span></span>Pick-up </label>
							</li>
							<li>
								<input type="checkbox" id="drop" value="drop" name="dropIncluded" ngModel>
								<label for="drop"><span></span>Drop </label>
							</li>
							<li>
								<input type="checkbox" id="guide" value="guide" name="guideIncluded" ngModel>
								<label for="guide"><span></span>Guide </label>
							</li>
						</ul>
					</div>
					<div class="clear"> </div>
				</div>

				<div class="styled-input">
					<input type="number" name="budget" required placeholder="" id="budget" ngModel>
					<label for="budget">Budget</label>
					<span></span>
				</div>

				<input type="submit" class="getDetls form-control" value="Save">
			</form>
		</div>
	</div>
</div>