<div class="banner notHome">
	<app-navbar></app-navbar>
</div>
<div class="about">
	<div class="container">
		<h1>Create Your Itinirerary!</h1>
		<div [ngClass]="messageClass">{{message}}</div>
		<div class="box">
			<form #itinForm="ngForm" (ngSubmit)="submitItinerary(itinForm.value)">
				<div class="form-row">
					<div class="form-group col-md-4">
						<label>Starting City</label>
						<select name="originCityId" class="form-control" required ngModel>
								<option value="">Origin</option>
								<option *ngFor="let city of cityList" value="{{city.cityId}}">{{city.cityName}}</option>
							</select>
					</div>
					<div class="form-group col-md-4">
						<label for="fromDate">Starting Date</label>
						<input type="date" name="fromDate" class="form-control" required placeholder="" id="fromDate" ngModel>
					</div>
					<div class="form-group col-md-4">
						<label for="fromTime">Starting Time</label>
						<input type="time" name="fromTime" class="form-control" required placeholder="" id="fromTime" ngModel>
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-4">
						<label>Destination City</label>
						<select name="destinationCityId" class="form-control" required ngModel>
								<option value="">Destination City</option>
								<option *ngFor="let city of cityList" value="{{city.cityId}}">{{city.cityName}}</option>
							</select>
					</div>
					<div class="form-group col-md-4">
						<label for="toDate">Return Date</label>
						<input type="date" name="toDate" class="form-control" required placeholder="" id="toDate" ngModel>
					</div>
					<div class="form-group col-md-4">
						<label for="toTime">Return Time</label>
						<input type="time" name="toTime" class="form-control" required placeholder="" id="toTime" ngModel>
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-4">
						<label>No. of Travellers</label>
						<select name="groupSize" class="form-control" required ngModel id="groupSize">
								<option value="">No. of Travellers</option>
								<option *ngFor="let number of [1,2,3,4,5,6,7,8,9,10]" value="{{number}}">{{number}}</option>
							</select>
					</div>
					<div class="form-group col-md-4">
						<label>Budget</label>
						<input type="number" name="budget" class="form-control" required placeholder="" id="budget" ngModel>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-4">
						<label for="expectedResponseWithinDate">Expected Response Within Date</label>
						<input type="date" name="expectedResponseWithinDate" class="form-control" required placeholder="" id="expectedResponseWithinDate"
							ngModel>
					</div>
					<div class="form-group col-md-4">
						<label for="expectedResponseWithinTime">Expected Response Within Time</label>
						<input type="time" name="expectedResponseWithinTime" class="form-control" required placeholder="" id="expectedResponseWithinTime"
							ngModel>
					</div>
				</div>
				<div class="form-row">
					<div class="form-check col-md-4">
						<label>Request For</label><br/>
						<label class="form-check-label" for="transport"><input type="checkbox" class="form-check-input" id="transport" value="transport" name="transport" ngModel> Transport </label>
						<label class="form-check-label" for="hotel"><input type="checkbox" class="form-check-input" id="hotel" value="hotel" name="hotel" ngModel> Hotel </label>
						<label class="form-check-label" for="guide"><input type="checkbox" class="form-check-input" id="guide" value="guide" name="guide" ngModel> Guide </label>
					</div>
					<div class="form-check col-md-4">
						<input type="submit" class="btn btn-info  center-block" value="Get Details">
					</div>
				</div>
			</form>
			<div class="clear"></div>
		</div>
	</div>
</div>