<div class="banner notHome">
    <app-navbar></app-navbar>
    <h3 class="w3agileits-title">Customer Signup</h3>
</div>
<div class="customer-signup">
    <div class="container">
        <div class="login-form">
            <form autocomplete="off" action="" method="post">
                <div class="styled-input">
                    <input type="text" name="Username" required="" placeholder="" />
                    <label>Email (Will be your username)</label>
                    <span></span>
                </div>
                <div class="styled-input">
                    <input type="password" name="Password" required="" placeholder="">
                    <label>Choose a password</label>
                    <span></span>
                </div>
                <div class="styled-input">
                    <input type="password" name="confirmPassword" required="" placeholder="">
                    <label>Retype your password</label>
                    <span></span>
                </div>
                <div class="styled-input">
                    <input type="text" name="phoneNumber" required="" placeholder="" maxlength="12">
                    <label>Registered Phone Number</label>
                    <span></span>
                </div>
                <input type="submit" value="Register">
                <a href="javascript:void(0)" id="cancel" name="cancel" class="btn btn-warning cancel">Cancel</a>
            </form>
            <p>Already Registered ?<a href="signin.html" class="sign-in popup-top-anim"> SignIn Here !</a></p>
        </div>
    </div>
</div>