<div class="banner">
	<app-navbar></app-navbar>

<!-- banner-text -->
    <div class="banner-search"> 
        <div class="container">
            <div class="searchbox-holder">
                <form method="get" id="searchForm" [formGroup]="searchForm" (ngSubmit)="search(searchForm.value)" >
                    <input id="speech" formControlName="searchQuery" type="text" placeholder="Search as you wish">
                    <a (click)="process();" id="btn" class="Start" href="javascript:void(0)"><i class="fa fa-microphone"></i></a>
                </form>
            </div>
        </div>
    </div>
    <div class="banner-text"> 
        <div class="container">
            <div class="flexslider" flexslider>
                <ul class="slides">
                    <li>
                        <div class="banner-w3lstext">
                            <h2>Mandarmani</h2>
                            <p><img src="assets/images/i1.jpg" alt=""/></p>
                        </div>
                    </li>
                    <li>
                        <div class="banner-w3lstext">
                            <h3>Santiniketan</h3>
                            <p><img src="assets/images/i2.jpg" alt=""/></p>
                        </div>
                    </li>
                    <li>
                        <div class="banner-w3lstext">
                            <h3>Kurseong</h3>
                            <p><img src="assets/images/i3.jpg" alt=""/></p>
                        </div>
                    </li>
                    <li>
                        <div class="banner-w3lstext">
                            <h2>Jaldapara</h2>
                            <p><img src="assets/images/i4.jpg" alt=""/></p>
                        </div>
                    </li>
                    <li>
                        <div class="banner-w3lstext">
                            <h3>Sundarban</h3>
                            <p><img src="assets/images/i5.jpg" alt=""/></p>
                        </div>
                    </li>
                    <li>
                        <div class="banner-w3lstext">
                            <h3>Siliguri</h3>
                            <p><img src="assets/images/i6.jpg" alt=""/></p>
                        </div>
                    </li>
                </ul> 
            </div> 	
            <!-- FlexSlider -->
        </div>
    </div>
    <!-- //banner-text --> 
</div>