.tab-pane.fade.active.in {
    margin-top: 2em;
}
.booking-list *, .quote-response * {
    font-size: 0.9em;
}
.box {
    background: #fff;
    margin: 10px 0 30px;
    border: solid 1px #e6e6e6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 20px;
    -webkit-box-shadow: 0 1px 5px rgb(68, 100, 158);
    box-shadow: 0 1px 5px rgb(68, 100, 158);
}
.flex-row{
    margin-top: 0;
}
.clickable {
    cursor: pointer;
    padding: .5em 0;
}
.text-gray{
    text-transform: none;
}