<div class="banner notHome">
	<app-navbar></app-navbar>
	<h3 class="w3agileits-title">Register Your Guide Here!</h3>
</div>
<div class="vendor-signup">
		<div class="container">
			<div class="row"> 
				<div class="login-form guide-registration">
					<form autocomplete="off" action="" method="post">
						<fieldset class="form-group">
							<legend class="col-form-legend ">Guide Information</legend>
							<div class="styled-input">
								<input type="text" name="g-name" required="" placeholder=""> 
								<label>Guide Name</label>
								<span></span>
							</div>
							<div class="styled-input ">
								<select name="g-country" class="form-control" required="">
									<option value="">Country</option>
									<option value="india">India</option>
								</select>
								<label>Country</label>
								<span></span>
							</div>
							<div class="styled-input">
								<input type="text" name="g-city" required="" placeholder=""> 
								<label>City</label>
								<span></span>
							</div>
							<div class="styled-input ">
								<select name="g-state" class="form-control" required="">
									<option value="">State</option>
									<option value="wb">West Bengal</option>
								</select>
								<label>State</label>
								<span></span>
							</div>
							<div class="styled-input">
								<input type="text" name="g-license" required="" placeholder=""> 
								<label>Identification No.</label>
								<span></span>
							</div>
						</fieldset>						
						<input type="submit" value="Save">	
						<a href="javascript:void(0)" id="cancel" name="cancel" class="btn btn-warning cancel">Cancel</a>	
					</form>
				</div>  
			</div>
		</div>
	</div>