<div class="banner notHome">
	<app-navbar></app-navbar>
</div>
<div class="quote-response">
	<div class="container">
		<h1>Show &amp; Respond to Itinerary Quotes!</h1>
		<div class="row">
			<section>
				<article class="quote-response card">
					<div class="panel-heading clickable" (click)="toggleDetails($event)">
						<div class="col-md-12">
							<i class="fa fa-quote-left fa-lg" aria-hidden="true"></i>
							<i class="fa fa-quote-right fa-lg" aria-hidden="true"></i>
							<h2>
								Check quotes for <b><span class="item">ABC travel</span></b>
							</h2>
						</div>
					</div>
					<div class="panel-body">
						<div class="flex-row-no-margin">
							<div class="child-panel-heading" (click)="toggleChildDetails($event)">
								<div class="col-md-9">
									<i class="fa fa-user fa-lg" aria-hidden="true"></i>
									<h3>
										<span class="item">Pinku Roy</span>
									</h3>
									<p class="search-item">Looking for <span>Guide</span>, <span>Hotel</span></p>
								</div>
								<div class="col-md-3">
									<div class="text-gray">
										<a href="javascript:void(0)">View More...</a>
									</div>
								</div>
							</div>
							<div class="child-panel-body">
								<div class="inner-flex-row col-md-12 pt-0">
									<div class="itin">
										<div class="col-md-12 itin-name">
											<h4>
												Looking for <span class="item">hotel</span>, <span class="item">guide</span> in <span class="item">Mandarmani</span>												in the month of <span class="item">January</span>
											</h4>
										</div>
										<div class="col-md-12 asset-head">
											<h5 class="asset-head">
												List of assets for <span>ABC hotel</span>
											</h5>
										</div>
										<div class="col-md-12">
											<div class="asset-body form-group row asset-section">
												<ul class="list-group checked-list-box hotel-list">
													<li class="list-group-item">
														<p class="col-md-12">
                                                            <label class=" form-check-label" for="hotel1">
                                                               <input class="form-check-input" type="checkbox" value="hotelA" id="hotel1">
                                                               Hotel A
                                                            </label>
                                                        </p>
                                                        <p class="col-md-6 hotel-class">
                                                            <span  class="text-gray ">AC, Deluxe</span>
                                                            <b>INR <span class="price-val ">800</span> per night </b>
                                                        </p>
                                                        <p class="col-md-6 hotel-class">
                                                            <span  class="text-gray ">AC, Deluxe</span>
                                                            <b>INR <span class="price-val ">800</span> per night </b>
                                                        </p>
                                                      </li>
                                                      <li class="list-group-item ">
                                                        <p class="col-md-12">
															<label class="form-check-label" for="hotel2">
                                                               <input class="form-check-input" type="checkbox" value="hotelA" id="hotel2">
                                                               Hotel A
                                                            </label>
														</p>
														<p class="col-md-6 hotel-class">
															<span class="text-gray">AC, Deluxe</span>
															<b>INR <span class="price-val">800</span> per night </b>
														</p>
														<p class="col-md-6 hotel-class">
															<span class="text-gray">AC, Deluxe</span>
															<b>INR <span class="price-val">800</span> per night </b>
														</p>
													</li>
													<li class="list-group-item">
														<p class="col-md-12">
                                                            <label class=" form-check-label" for="hotel3 ">
                                                               <input class="form-check-input " type="checkbox" value="hotelA " id="hotel3">
                                                               Hotel A
                                                            </label>
                                                        </p>
                                                        <p class="col-md-6 hotel-class ">
                                                            <span  class="text-gray ">AC, Deluxe</span>
                                                            <b>INR <span class="price-val ">800</span> per night </b>
                                                        </p>
                                                        <p class="col-md-6 hotel-class ">
                                                            <span  class="text-gray ">AC, Deluxe</span>
                                                            <b>INR <span class="price-val ">800</span> per night </b>
                                                        </p>
                                                      </li>
                                                    </ul>
                                                    <textarea name="Message " class="request-guide-comment
														 " placeholder="Additional Comments " required=" " autocomplete="off "></textarea>
                                                    <a href="javascript:void(0) " class="btn btn-info ">Save</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </article>
                </section>
            </div>
        </div>
    </div>