<div class="banner notHome">
	<app-navbar></app-navbar>
	<h3 class="w3agileits-title">Register Your Driver Here!</h3>
</div>
<div class="vendor-signup">
		<div class="container">
			<div class="row"> 
				<div class="login-form driver-registration">
					<form autocomplete="off" action="" method="post">
						<fieldset class="form-group">
							<legend class="col-form-legend ">Driver Information</legend>
							<div class="styled-input">
								<input type="text" name="d-name" required="" placeholder=""> 
								<label>Driver Name</label>
								<span></span>
							</div>
							<div class="styled-input ">
								<select name="country" class="form-control" required="">
									<option value="">Country</option>
									<option value="india">India</option>
								</select>
								<label>Country</label>
								<span></span>
							</div>
							<div class="styled-input">
								<input type="text" name="city" required="" placeholder=""> 
								<label>City</label>
								<span></span>
							</div>
							<div class="styled-input ">
								<select name="state" class="form-control" required="">
									<option value="">State</option>
									<option value="wb">West Bengal</option>
								</select>
								<label>State</label>
								<span></span>
							</div>
							<div class="styled-input">
								<input type="text" name="d-license" required="" placeholder=""> 
								<label>License No.</label>
								<span></span>
							</div>
						</fieldset>						
						<input type="submit" value="Save">	
						<a href="javascript:void(0)" id="cancel" name="cancel" class="btn btn-warning cancel">Cancel</a>	
					</form>
				</div>  
			</div>
		</div>
	</div>