<div class="banner notHome">
	<app-navbar></app-navbar>
</div>
<div class="about">
	<div class="container">	
		<h1>E-Auction</h1>
		<section class="col-xs-12 col-sm-12 col-md-12"> 
			<h3>My Bids</h3>
			<div class="flexslider">
				<ul class="slides">
					<li *ngFor="let bid of bids">
						<div class="row box">
							<div class="col-xs-12 col-sm-12 col-md-12 no-padding">
								<h5>Lorem Ipsum is simply dummy text {{bid.id}}</h5>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-4 no-padding">
								<div class="image-holder">
									<img src="assets/images/i{{bid.id}}.jpg" alt=""/>
								</div>                                                                           
							</div>
							<div class="col-xs-12 col-sm-12 col-md-8 no-padding">
								<div class="col-xs-12 col-sm-12 col-md-6">
									<strong>Start Price</strong>
									<div>Rs 100</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-6">
									<strong>Current Bid</strong>
									<div>Rs 500</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-6 top-margin-1em">
									<strong>Start Date</strong>
									<div>12-Jan-2018</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-6 top-margin-1em">
									<strong>End Date</strong>
									<div>12-Jan-2018</div>
								</div>               
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 no-padding">								
								<div class="col-xs-12 col-sm-12 col-md-12 no-padding">
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the ....
								</div>  
								<div class="col-xs-12 col-sm-12 col-md-12 no-padding">
									<div class="col-xs-12 col-sm-12 col-md-6 no-padding">
										<strong>Bid Now at </strong>
										<span>
											<a href="javascript:void(0);"><i class="fa fa-minus-square"></i></a>
											<span class="bid-now"> Rs 110</span> 
											<a href="javascript:void(0);"><i class="fa fa-plus-square"></i></a>
										</span>
										<div>
											<a href="javascript:void(0);" class="save-bid-btn pull-left" title="Save"><i class="fa fa-heart"></i> Save</a>
										</div>
										
									</div>
									<div class="col-xs-12 col-sm-12 col-md-6 text-right no-padding">
										<strong>Buy now at </strong><span>Rs 500</span>
										<div>
											<a href="javascript:void(0);" class="save-bid-btn pull-right" title="Save"><i class="fa fa-shopping-cart"></i> Check out</a>
										</div>										
									</div>									
								</div>                              
							</div>
						</div>
					</li>                 
				</ul> 
			</div>
		</section> 	
		<!-- FlexSlider --> 
		
		<!-- End-slider-script -->	
		<section class="col-xs-12 col-sm-10 col-md-9">
			<h3>Active Auctions</h3>
			<article *ngFor="let auction of auctionList" class="search-result box">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 excerpet">
						<h3>
							<a (click)="toggleChild(auction)" href="javascript:void(0);" title="">
								<i *ngIf="!auction.showdetails" class="fa fa-angle-down"></i>
								<i *ngIf="auction.showdetails" class="fa fa-angle-up"></i>
								Auction Name:: {{auction.auctionComment}}</a>
							<a (click)="toggleChild(auction)" class="save-bid-btn pull-right" href="javascript:void(0);" title="View the Auction Details">
								<i *ngIf="!auction.showdetails" class="fa fa-angle-down"></i>
								<i *ngIf="auction.showdetails" class="fa fa-angle-up"></i>
								<strong> Bid Now </strong>							
							</a>							
						</h3>
						<p [innerHtml]="auction.auctionComment"></p>						
					</div>
				</div>
				<div class="row top-margin-1em" *ngIf="auction.showdetails">
					<div class="col-xs-12 col-sm-12 col-md-12 excerpet bidding">
						<div class="col-xs-12 col-sm-12 col-md-3 no-padding">
							<div class="image-holder">
								<img src="assets/images/i1.jpg" alt=""/>
							</div>							
						</div>
						<div class="col-xs-12 col-sm-12 col-md-9">
							<div class="col-xs-12 col-sm-12 col-md-6 no-padding">
								<strong>Start Date</strong>
								<div>{{auction.startDate}}</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-6 no-padding">
								<strong>End Date</strong>
								<div>{{auction.endDate}}</div>
							</div> 
							<div class="col-xs-12 col-sm-12 col-md-6 no-padding">
								<strong>Start Price</strong>
								<p>{{auction.startingPrice}}</p>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-6 no-padding">
								<strong>Current Bid</strong>
								<p>{{currentBid}}</p>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-6 no-padding">
								<strong>Bid Now at </strong>
								<span>
									<a href="javascript:void(0);"  (click)="currentBid=currentBid-10"><i class="fa fa-minus-square"></i></a>
									<span class="bid-now"> Rs {{currentBid+10}}</span> 
									<a href="javascript:void(0);"  (click)="currentBid=currentBid+10"><i class="fa fa-plus-square"></i></a>
								</span>
								<a href="javascript:void(0);" (click) = "checkValidBidder(auction, currentBid)" class="save-bid-btn" title="Save"><i class="fa fa-heart"></i> Save</a>							
							</div>							
							<div class="col-xs-12 col-sm-12 col-md-6 no-padding">
								<strong>Buy now at </strong><span>Rs {{auction.buyNowPrice}}</span>
								<a href="javascript:void(0);" (click) = "auctionCheckout(auction)" class="save-bid-btn " title="checkOut"><i class="fa fa-shopping-cart"></i> Check out</a>
							</div>
						</div>
					</div>
				</div>                    
			</article>
		</section>
		<section class="col-xs-12 col-sm-12 col-md-3">
			<h3>Upcoming Auction</h3>
			<div class="flex-upcoming-auction box">
				<ul class="slides">
					<li *ngFor="let uaction of upcomingAuctions">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">								
								<div class="image-holder">
									<h3>Upcoming Auction {{uaction.id}}</h3>
									<img src="assets/images/i{{uaction.id}}.jpg" alt=""/>
								</div> 
							</div>
						</div>
					</li>                 
				</ul> 
			</div>
			<h3>Flash Sell</h3>
			<div class="flex-flash-sell box">
				<ul class="slides">
					<li *ngFor="let fSell of flashSells">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">								
								<div class="image-holder">
									<h3>Flash Sell {{fSell.id}}</h3>
									<img src="assets/images/i{{fSell.id}}.jpg" alt=""/>
								</div> 
							</div>
						</div>
					</li>                 
				</ul> 
			</div>
		</section>
	</div>
</div>