<div class="banner notHome">
	<app-navbar></app-navbar>
	<h3 class="w3agileits-title">Register Your New Package Here!</h3>
</div>
<div class="vendor-signup">
		<div class="container">
			<div class="row"> 
				<div class="login-form package-registration">
					<form autocomplete="off" action="" method="post">
						<fieldset class="form-group">
							<legend class="col-form-legend ">Package Information</legend>
							<div class="styled-input">
								<input type="text" name="p-name" required="" placeholder=""> 
								<label>Package Name</label>
								<span></span>
							</div>
							<div class="styled-input">								
								<!-- <input type="text" name="p-description" required="" placeholder="">  -->
								<textarea required="" placeholder=""></textarea>
								<label>Package Description</label>
								<span></span>
							</div>
							<div class="styled-input">								
								<input type="number" name="p-price" required="" placeholder=""> 
								<label>Package Base Price</label>
								<span></span>
							</div>
							<div class="styled-input">								
								<input type="number" name="t-count" required="" placeholder=""> 
								<label>Traveller Count</label>
								<span></span>
							</div>
						</fieldset>						
						<input type="submit" value="Save">	
						<a href="javascript:void(0)" id="cancel" name="cancel" class="btn btn-warning cancel">Cancel</a>	
					</form>
				</div>  
			</div>
		</div>
	</div>