<div class="banner notHome">
    <app-navbar></app-navbar>
    <h3 class="w3agileits-title">My Hotels</h3>
</div>
<div class="my-trips nopadding">
    <div class="container">
        <div class="my-trips-w3ls-row">
            <div class="col-md-7 about-right">
                <div class="about-agile-row">
                    <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="myTab" class=" nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#upcoming" id="upcoming-tab" role="tab" data-toggle="tab" aria-controls="upcoming" aria-expanded="true">Upcoming</a></li>
                            <li role="presentation" class=""><a href="#previous" role="tab" id="hotel-tab" data-toggle="tab" aria-controls="previous" aria-expanded="false"> Previous</a></li>
                            <li role="presentation" class=""><a href="#cancelled" role="tab" id="car-cancelled" data-toggle="tab" aria-controls="cancelled"
                                    aria-expanded="false"> Cancelled</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<div class="my-trips">
    <div class="container">
        <div class="row">
            <section>
                <article class="booking-list card">
                    <div class="panel-heading clickable" (click)="toggleDisplay()">
                        <div class="col-md-12">
                            <h5><i class="fa fa-bed fa-2x" aria-hidden="true"></i>Hotel Sonar Bangla</h5>
                        </div>
                        <div class="col-md-12">
                            <h5 class="hotel-heading">Mandarmani</h5>
                        </div>
                    </div>
                    <div class="panel-body" [ngClass]="isDisplay ? '' : 'hideMe'">
                        <div class="flex-row">
                            <div class="col-md-12">
                                <h5 class="room-heading">Deluxe</h5>
                            </div>
                            <div class="col-md-3">
                                <span class="text-gray">No. of Rooms:</span>
                            </div>
                            <div class="col-md-3">
                                <b><span>3</span></b>
                            </div>
                            <div class="col-md-3">
                                <p class="text-gray">Price per Night</p>
                            </div>
                            <div class="col-md-3">
                                <b><span>INR 3, 000</span></b>
                            </div>
                            <div class="col-md-3">
                                <span class="text-gray">Currently Booked</span>
                            </div>
                            <div class="col-md-9">
                                <b><span>3 </span></b>
                            </div>
                        </div>

                        <div class="flex-row">
                            <div class="col-md-12">
                                <h5 class="room-heading">AC Deluxe</h5>
                            </div>
                            <div class="col-md-3">
                                <span class="text-gray">No. of Rooms:</span>
                            </div>
                            <div class="col-md-3">
                                <b><span>3</span></b>
                            </div>
                            <div class="col-md-3">
                                <p class="text-gray">Price per Night</p>
                            </div>
                            <div class="col-md-3">
                                <b><span>INR 3, 500</span></b>
                            </div>
                            <div class="col-md-3">
                                <span class="text-gray">Currently Booked</span>
                            </div>
                            <div class="col-md-9">
                                <b><span>3 </span></b>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
        </div>
    </div>
</div>