<div class="banner notHome">
	<app-navbar></app-navbar>
</div>
<div class="create-itinerary">
	<div class="container">
		<h1>Create Your Package!</h1>
		<div class="login-form">
			<form #itinForm="ngForm" (ngSubmit)="submitItinerary(itinForm.value)">
				<div class="styled-input">
					<input type="text" name="origin" required="" placeholder="" id="origin" ngModel>
					<label for="origin">Starting City</label>
					<span></span>
				</div>
				<div class="styled-input">
					<input type="text" name="startDate" required="" placeholder="" id="startDate" ngModel>
					<label for="startDate">Starting Date</label>
					<span></span>
				</div>
				<div class="styled-input">
					<input type="text" name="destination" required="" placeholder="" id="destination" ngModel>
					<label for="destination">Travelling City</label>
					<span></span>
				</div>
				<div class="styled-input">
					<select name="nights" class="form-control" required="" ngModel>
						<option value="">No. of Nights</option>
						<option *ngFor="let number of [1,2,3,4,5,6,7,8,9,10]" value="{{number}}">{{number}}</option>
					</select>
					<label>No. of Nights</label>
					<span></span>
				</div>
				<div class="styled-input">
					<select name="rooms" class="form-control" required="" ngModel>
						<option value="">No. of Rooms</option>
						<option *ngFor="let number of [1,2,3,4,5,6,7,8,9,10]" value="{{number}}">{{number}}</option>
					</select>
					<label>No. of Rooms</label>
					<span></span>
				</div>
				<div class="styled-input">
					<select name="groupSize" class="form-control" required="" ngModel>
							<option value="">No. of Travellers</option>
							<option *ngFor="let number of [1,2,3,4,5,6,7,8,9,10]" value="{{number}}">{{number}}</option>
						</select>
					<label>No. of Travellers</label>
					<span></span>
				</div>

				<div class="wthree-text">
					<div class="register-text">Request For</div>
					<div class="register-options">
						<ul>
							<li>
								<input type="checkbox" id="pickup" value="pickup" name="tourAdditional" ngModel>
								<label for="pickup"><span></span>Pick-up </label>
							</li>
							<li>
								<input type="checkbox" id="drop" value="drop" name="tourAdditional" ngModel>
								<label for="drop"><span></span>Drop </label>
							</li>
							<li>
								<input type="checkbox" id="guide" value="guide" name="tourAdditional" ngModel>
								<label for="guide"><span></span>Guide </label>
							</li>
						</ul>
					</div>
					<div class="clear"> </div>
				</div>

				<div class="styled-input">
					<input type="number" name="price" required="" placeholder="" id="price" ngModel>
					<label for="price">Package Price</label>
					<span></span>
				</div>

				<input type="submit" class="getDetls form-control" value="Get Details">
			</form>
		</div>
	</div>
</div>