<div class="header">
	<div class="container">
		<div class="header-w3lsrow"> 
			<div class="menu" *ngIf="!isLoggedIn;"> 
				<ul class="w3nav">
					<li><a routerLink='/search-result' class="btn btn-info" href="javascript:void(0);" title="">Search Hotels</a></li>
					<li><a routerLink='/my-profile' class="btn btn-info" href="javascript:void(0);" title="">My Profile</a></li>
					<li><a routerLink='/trip-planner' class="btn btn-info" href="javascript:void(0);" title="">Trip Planer</a></li> 
					<li><a routerLink='/my-wallet' class="btn btn-info" href="javascript:void(0);" title="">My Wallet</a></li>
					<li><a routerLink='/my-trips' class="btn btn-info" href="javascript:void(0);" title="">My Trips</a></li>
					<li><a routerLink='/refer-friend'class="btn btn-info" href="javascript:void(0);" title="">Refer Friends</a></li>
					<li><a routerLink='/e-auction' class="btn btn-info" href="javascript:void(0);" title="">My Bids</a></li>
					<li><a routerLink='/contest' class="btn btn-info" href="javascript:void(0);" title="">Contest</a></li>
					<li><a routerLink='/travell-buddy' class="btn btn-info" href="javascript:void(0);" title="">Travel Buddy</a></li>
					<li><a routerLink='/travell-experience' class="btn btn-info" href="javascript:void(0);" title="">Travel Experience</a></li>
					<li><a routerLink='/deal-of-day' class="btn btn-info" href="javascript:void(0);" title="">Deals of the Day</a></li>
					<li><a routerLink='/contact-us' class="btn btn-info" href="javascript:void(0);" title="">Contact Us</a></li>						
				</ul>
				<div class="clearfix"> </div>
			</div> 
			<div class="logo">
				<h1><a routerLink='/'>Yayaati</a></h1>
			</div>  
			<div class="header-right">   
				<ul>
					<!-- <li><a href="signin.html">SignIn</a></li>
					<li><a href="signup.html">SignUp</a></li>  -->

                    <li *ngIf="!isLoggedIn;">						
						<a href="javascript:void(0)" routerLink="/signin">Sign In</a>
					</li>
                    <li *ngIf="isLoggedIn;"><a href="javascript:void(0);"><i class="fa fa-user" aria-hidden="true"></i> Hi, {{userName}}</a></li>

					<li id="noti_Container" *ngIf="isLoggedIn">
						<a (click)="toggleNotificationWindow()" href="javascript:void(0);">
							<i class="fa fa-bell" aria-hidden="true"></i><sup id="noti_Counter">2</sup></a>
						<!--A CIRCLE LIKE BUTTON TO DISPLAY NOTIFICATION DROPDOWN.-->
						<!--THE NOTIFICAIONS DROPDOWN BOX.-->
						<div id="notifications">
							<h3>Notifications</h3>
							<div style="height:300px;"></div>
							<div class="seeAll"><a href="#">See All</a></div>
						</div>
					</li>
                    <!-- <li><a href="javascript:void(0);">Help</a></li>-->
                    <li>
                        <div class="toggle" (click)="togglePanel()"></div>
                    </li>
					<li *ngIf="isLoggedIn">
						<a href="javascript:void(0);" routerLink="/signout">Sign Out</a>
					</li>
                </ul>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>