<div class="banner notHome">
    <app-navbar></app-navbar>
</div>
<div class="about">
    <div class="container">
        <div class="box">
            <h1>Select your buddy to make a trip together!</h1>
                <div class="form-row form-container form-container-top">
                    <div class="col-md-2 form-group">
                        <img src="assets/images/souvik.jpg" alt="buddy image" />
                    </div>
                    <div class="col-md-10 form-group">
                        <div class="col-md-4 form-group">
                            <h5>Souvik Sarkar</h5>
                        </div>
                        <div class="col-md-4 form-group">
                            <i class="fa fa-male" aria-hidden="true"></i> Male
                        </div>
                        <div class="col-md-4 form-group">
                            <i class="fa fa-map-marker" aria-hidden="true"></i> <b>Lives in </b> Kolkata!
                        </div>
                        <div class="col-md-12 form-group">
                            <i class="fa fa-train" aria-hidden="true"></i> <b>Also travelling to Puri</b> on <b>Jan 26 2018</b>!
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4 form-group">
                            <label class="form-check-label"><input type="checkbox">I'm Your Buddy!</label>
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="submit" class="btn btn-info  center-block" value="Accept">
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="submit" class="btn btn-info  center-block" value="Decline">
                        </div>
                    </div>
                </div>
                <div class="form-row form-container">
                    <div class="col-md-2 form-group">
                        <img src="assets/images/kingshuk.jpg" alt="buddy image" />
                    </div>
                    <div class="col-md-10 form-group">
                        <div class="col-md-4 form-group">
                            <h5>Kingshuk</h5>
                        </div>
                        <div class="col-md-4 form-group">
                            <i class="fa fa-male" aria-hidden="true"></i> Male
                        </div>
                        <div class="col-md-4 form-group">
                            <i class="fa fa-map-marker" aria-hidden="true"></i> <b>Lives in </b> Kolkata!
                        </div>
                        <div class="col-md-12 form-group">
                            <i class="fa fa-train" aria-hidden="true"></i> <b>Also travelling to Puri</b> on <b>Jan 26 2018</b>!
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4 form-group">
                            <label class="form-check-label"><input type="checkbox">I'm Your Buddy!</label>
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="submit" class="btn btn-info  center-block" value="Accept">
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="submit" class="btn btn-info  center-block" value="Decline">
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>